
.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  color: #000000;
}